@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&displa0y=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Sans-Serif;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
*:focus,
*:active,
*:hover {
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
}
}
button {
    cursor: pointer;
    touch-action: none;
}
.jogo > p {
    position: absolute;
    z-index: 20;
    top: 8vh;
    right: 15vw;
}
.form {
    display: grid;
    place-items: center;
}
form {
    margin-top: 10vh;
    height: 40vh;
    width: 90vw;
    border-radius: 20px;
    background-color: #5f00ff;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
form div {
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #a9a9a9;
}
form button[type="submit"] {
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    padding: 5px 25px;
    background-color: #f74a4a;
}
input {
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    outline: none;
}
input:focus {
    box-shadow: 1px 1px 5px 1px #00Afff;
}
label {
    font-family: Consolas;
}
.jogo {
    display: none;
}
canvas {
    height: 100vh;
    width: 100vw;
}
.btn {
    position: absolute;
    z-index: 900;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms;
}
.btn:active {
    background-color: #c8c8c8;
}
.btn_cima {
    bottom: calc(5vh + 3.5rem);
    right: 20vw;
}
.btn_baixo {
    bottom: 5vh;
    right: 20vw;
}
.btn_ataque {
    bottom: calc(5vh + 3.5rem);
    left: calc(15vw + 4rem);
}
.btn_direita {
    bottom: 5vh;
    left: calc(15vw + 4rem);
}
.btn_dash {
    bottom: calc(5vh + 3.5rem);
    left: 15vw;
}
.btn_esquerda {
    bottom: 5vh;
    left: 15vw;
}
.btn_information {
    position: absolute;
    border-radius: 5px;
    top: 8vh;
    left: 10vw;
    border: 2px solid black;
    background-color: #FFFFFF;
    transition: 150ms;
}
.btn_information:active {
    background-color: #C8C8C8;
}
.gameOverScreen {
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 9999;
    border-radius: 20px;
    padding: 10px 25px;
    min-width: 100vw;
    color: white;
    min-height: 100vh;
    visibility: hidden;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY_sfu76RmCsaqT30b7Im1MP2buX2k1WZLvIWtfoEclWsABOmz7w5cfqo&s=10') no-repeat center/cover;
}
.gameOverScreen h3 {
    border-radius: 5px;
    background-color: #979797;
    padding: 5px 8px;
}
.gameOverScreen h1 {
    border-radius: 20px;
    background-color: #FF204B;
    padding: 5px 8px;
}
.gameOverScreen button {
    padding: 5px 15px;
    background-color: #00FF2B;
    border-radius: 5px;
}
.inf {
    position: relative;
    z-index: 1000;
    top: 15vh;
    text-align: center;
    display: none;
    padding: 30px;
    min-height: 100vh;
    min-width: 100vw;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #910000, #FF4C4C);
    border: 2px solid black;
}
.inf * {
    margin: 15px;
}
.inf .inf_btns {
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    background-color: #ff8500;
}
.inf h2 {
    color: white;
}
.inf p {
    padding: 5px 10px;
    background-color: #c8c8c8;
    border-radius: 5px;
}
.inf.aberto {
    display: block;
}
@keyframes desaparece {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}